h1 {
	margin: 30px auto 40px auto;
}

article figure img {
	border-radius: 5px 5px 0 0;
}

article hgroup {
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	margin-top: -25px;
}

h3 {
	color: #666;
	padding: 20px;
}

ul li {
	display: inline-block;
}

section {
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
	margin-top: 20px;
	padding: 30px;
}

.top {
	margin-top: 35px;
}

.mix {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	display: none;
	height: 266px;
	margin: 10px;
	width: auto;
}